#root {
  display: flex;
  justify-content: center;
}

.wrapper-404 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-top: 1rem;
}

.main-wrapper {
  width: 100vw;
  height: calc(100vh - 64px);
  background-image: url('../shared/assets/images/backgroundMainPage.jpg');
  background-repeat: no-repeat;
  background-position: 200% 100%;
  background-size: 80% 80%;
}
